
.vs

packages
projectManager/bin
projectManager/obj
projectManager/ApiLogs


ProjectManager.LoadTest/bin/*
ProjectManager.LoadTest/obj/*


ProjectManager.Test/bin/*
ProjectManager.Test/obj/*

ProjectManagersTool.Database/bin/*
ProjectManagersTool.Database/obj/*